<!DOCTYPE html>
<html>
<head>
	<title>Phishing</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style1.css')}}">
	
</head>
<body>	
        
        <a href="/">Home Page</a>    
	<center>
	<h1>Web Phishing  Detection</h1>
    <h2>Enter any URL</h1>
	<form action="/predict2" method="POST">
		<input type="text" id="url" name="URL" placeholder="Enter a URL">
		<input type="submit" id="btn" name="sub" value="Predict"><br>
	</form>
	</center>
	<h3 style="text-align: center; color: rgb(11, 10, 10); font-size: 20px;">{{no_url}}</h3>
    <h3 style="text-align: center; color: red; font-size: 20px;">{{ans}}</h3>
    <h3 style="text-align: center; color: rgb(14, 224, 14); font-size: 20px;">{{bns}}</h3>
</body>
</html>