<!DOCTYPE html>
<html>
<head>
	<title>Phishing</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style1.css')}}">
	<style type=text/css>
		.leftdiv
		{
		float: left;
		}
		.middlediv
		{
		float: left;
		
		}
		.rightdiv
		{
		float: left;
		}
		div{
		padding : 1%;
		color: white;
		background-color: 009900;
		width: 30%;
		
		}
	 </style>
	
</head> 
<body>
	<center>
	<h1>Web Phishing Detection</h1>
	</center>
	<div class="leftdiv">
		<h2>What is Web Phishing?</h2>
		<p>Phishing is a type of social engineering attack often used to steal user data, including
			login credentials and credit card numbers. It occurs when an attacker, masquerading
			as trusted entity, dupes a victim into opening an email,instant message,or text message
			The recipient is tricked into clicking a malicious link, which leads to the installation
			of malware, the freezing of the system as part of a ransomware attack or the revealing
			of sensitive information.
	 </p>
	 </div>
	 <div class="middlediv">
		<h2>Types of Phishing</h2>
		<p>There are many forms of attacks by which attackers can steal data.Some of them are <br>
			 <ul>

			 <li>Whaling</li>
			 <li>Smishing</li>
			 <li>Vishing</li>
			 <li>Email phishing</li>
			 <li>Spear phishing</li>
			 <li>Angler phishing</li>
			 </ul>
		</p>
		<h2>To access the Web Phishing Detector , click the next button!</h2>
		
		<p>
			<form action="/predict">
				<button>Next</button>
				
				
			</form>

		</p>
	 </div>
	 <div class="rightdiv">
		<h2>Steps to prevent Web Phishing</h2>
		<p>To keep our data safe when browsing or when using the internet,
			the following points need to be remenbered<br>
			<ul>

				<li>Be aware of suspicious sites</li>
				<li>Verifying a site's authenticity</li>
				<li>Checking online accounts regularly</li>
				<li>Using firewalls</li>
				<li>Never give personal info on the internet</li>
				<li>Use a web phishing detector</li>
				</ul>
		</p>
		
	 </div>


	
 </p>	
 
	

	
</body>
</html>